backend/n8n_workflow_fixed.json
{
  "name": "Kosmos - Magic Link Request (Dual Auth)",
  "nodes": [
    {
      "parameters": {
        "path": "speakers",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://tourmaline-taffy-61d3c1.netlify.app"
        }
      },
      "id": "3e620cc0-1915-4d15-8163-bf05ea2f5a4e",
      "name": "GET /speakers",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "speakers-list"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=1u12ILaBSj5B3Iy3yh6DYyanSIp7UQjimOBw61yYVmME",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "26_Kosmos_SprecherInnen",
          "mode": "name"
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "abfa22ef-23e5-4bf9-98c6-72fae8e7bc15",
      "name": "Read Speaker_DB",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        224,
        0
      ],
      "credentials": {
        "googleApi": {
          "id": "LvHMiivmZXgTlEwU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Role-based field filtering for Speaker data\nconst role = $('GET /speakers').first().json.query?.role || 'GUEST';\nconst items = $('Read Speaker_DB').all();\n\nconst SENSITIVE_FIELDS = ['E-Mail', 'Telefon', 'Webseite', 'Registriert_von'];\n\nconst filtered = items\n  .filter(item => {\n    const status = (item.json.Status || '').toLowerCase();\n    return status === 'aktiv' || status === 'dummy';\n  })\n  .map(item => {\n    const speaker = { ...item.json };\n    \n    // Strip sensitive fields for non-admin roles\n    if (role !== 'ADMIN') {\n      SENSITIVE_FIELDS.forEach(field => delete speaker[field]);\n      // Mask last name for non-admin (show only initial)\n      if (speaker.Nachname && speaker.Nachname.length > 0) {\n        speaker.Nachname = speaker.Nachname[0] + '.';\n      }\n    }\n    \n    return { json: speaker };\n  });\n\nreturn filtered;"
      },
      "id": "6027debc-6165-4b93-a5e6-011e89460899",
      "name": "Filter by Role",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ speakers: $input.all().map(i => i.json), count: $input.all().length }) }}",
        "options": {}
      },
      "id": "5797087b-945b-4e6b-8c82-532fb808eb42",
      "name": "Respond Speakers",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "register",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://tourmaline-taffy-61d3c1.netlify.app"
        }
      },
      "id": "487fa42b-7108-4798-8660-d8554839b43d",
      "name": "POST /register",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        272
      ],
      "webhookId": "speaker-register"
    },
    {
      "parameters": {
        "jsCode": "// Generate Speaker ID and validate input\nconst body = $input.first().json.body;\n\n// Dummies only need vorname, real speakers need vorname + email\nif (body.isDummy && !body.vorname) {\n  return [{ json: { error: 'Bitte Platzhalter-Namen eingeben', status: 400 } }];\n}\nif (!body.isDummy && (!body.vorname || !body.email)) {\n  return [{ json: { error: 'Vorname und E-Mail sind Pflichtfelder', status: 400 } }];\n}\n\nconst timestamp = new Date().toISOString();\nconst randomPart = Math.random().toString(36).substring(2, 6).toUpperCase();\nconst id = `SPK-${randomPart}`;\n\nreturn [{\n  json: {\n    ID: id,\n    Vorname: body.vorname,\n    Nachname: body.nachname || '',\n    'E-Mail': body.email || '',\n    Telefon: body.telefon || '',\n    Bio: body.bio || '',\n    Organisation: body.organisation || '',\n    Webseite: body.webseite || '',\n    Pronomen: body.pronomen || '',\n    Status_Einladung: body.isDummy ? 'CFP_Dummy' : 'CFP',\n    Registriert_am: timestamp,\n    Registriert_von: body.registeredBy || 'self'\n  }\n}];"
      },
      "id": "56c63620-595a-4b84-83db-298f2606861b",
      "name": "Prepare Speaker Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        272
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=1u12ILaBSj5B3Iy3yh6DYyanSIp7UQjimOBw61yYVmME\n",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "26_Kosmos_SprecherInnen",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefon",
              "displayName": "Telefon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Bio",
              "displayName": "Bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Organisation",
              "displayName": "Organisation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Webseite",
              "displayName": "Webseite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pronomen",
              "displayName": "Pronomen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Registriert_am",
              "displayName": "Registriert_am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Registriert_von",
              "displayName": "Registriert_von",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "b8fa2098-1bb8-443f-861c-5a018b17afd4",
      "name": "Write to Speaker_DB",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        448,
        272
      ],
      "credentials": {
        "googleApi": {
          "id": "LvHMiivmZXgTlEwU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ id: $input.first().json._id || $input.first().json.ID || 'unknown', status: 'registered', message: 'Speaker erfolgreich registriert' }) }}",
        "options": {}
      },
      "id": "db9bd31a-925f-41b0-bf79-40c0436387e1",
      "name": "Respond Register",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        272
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://tourmaline-taffy-61d3c1.netlify.app"
        }
      },
      "id": "44804f73-714d-441c-8491-a90601fc3b32",
      "name": "POST /submit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        528
      ],
      "webhookId": "session-submit"
    },
    {
      "parameters": {
        "jsCode": "// Validate and prepare session submission\nconst body = $input.first().json.body;\n\nif (!body.titel || !body.submitterEmail) {\n  return [{ json: { error: 'Titel und Submitter-E-Mail sind Pflichtfelder', status: 400 } }];\n}\n\nconst timestamp = new Date().toISOString();\nconst idx = Math.random().toString(36).substring(2, 6).toUpperCase();\nconst sessionId = `ANTIGRAV-${idx}`;\n\n// Check for dummy speakers (IDs starting with TBD)\nconst speakerIds = (body.speakerIds || []);\nconst dummySpeakers = speakerIds.filter(id => id.startsWith('TBD') || id === '');\n\nreturn [{\n  json: {\n    Zeitstempel: timestamp,\n    'E-Mail-Adresse': body.submitterEmail,\n    Vorname: body.submitterVorname || '',\n    Nachname: body.submitterNachname || '',\n    'Session-Titel': body.titel,\n    Kurzbeschreibung: body.kurzbeschreibung || '',\n    Beschreibung: body.beschreibung || '',\n    Format: body.format || 'Talk',\n    Thema: body.thema || '',\n    Bereich: body.bereich || '',\n    Sprache: body.sprache || 'DE',\n    'Dauer (Minuten)': body.dauer || 60,\n    'Co-Speaker': speakerIds.join(', '),\n    Bio: body.bio || '',\n    'Webseite': body.webseite || '',\n    _sessionId: sessionId,\n    _hasDummies: dummySpeakers.length > 0\n  }\n}];"
      },
      "id": "2be13bbb-bad6-4398-a2e8-bfdcedd9689a",
      "name": "Prepare Submission",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        528
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=1u12ILaBSj5B3Iy3yh6DYyanSIp7UQjimOBw61yYVmME",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master_Einreichungen",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Zeitstempel",
              "displayName": "Zeitstempel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E-Mail-Adresse",
              "displayName": "E-Mail-Adresse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Session-Titel",
              "displayName": "Session-Titel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Kurzbeschreibung",
              "displayName": "Kurzbeschreibung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Beschreibung",
              "displayName": "Beschreibung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Format",
              "displayName": "Format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Thema",
              "displayName": "Thema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Bereich",
              "displayName": "Bereich",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sprache",
              "displayName": "Sprache",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dauer (Minuten)",
              "displayName": "Dauer (Minuten)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Co-Speaker",
              "displayName": "Co-Speaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Bio",
              "displayName": "Bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Webseite",
              "displayName": "Webseite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "c738b405-abf1-4219-ab2a-a07964d86ebc",
      "name": "Write to Master_Einreichungen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        448,
        528
      ],
      "credentials": {
        "googleApi": {
          "id": "LvHMiivmZXgTlEwU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ sessionId: $input.first().json._sessionId, hasDummies: $input.first().json._hasDummies, message: 'Einreichung erfolgreich' }) }}",
        "options": {}
      },
      "id": "72295117-e167-4ec7-9f84-9a3a64dbdc07",
      "name": "Respond Submit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        528
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/data",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://tourmaline-taffy-61d3c1.netlify.app"
        }
      },
      "id": "8f22b4ba-2e10-428b-9845-b9683087cef1",
      "name": "Webhook (POST /api/data)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        1184
      ],
      "webhookId": "kosmos-api-data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"Invalid or expired token\"\n}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS, PUT, DELETE"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Authorization, Content-Type"
              }
            ]
          }
        }
      },
      "id": "e3176dd6-f869-49b5-b496-4f87fc70f24d",
      "name": "Respond 401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        672,
        1392
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $('Webhook (POST /api/data)').item.json.body.spreadsheetId + '/values:batchGet?' + $('Webhook (POST /api/data)').item.json.body.ranges.map(r => 'ranges=' + encodeURIComponent(r)).join('&') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "5c3c9fc1-02fc-4032-8b43-99cd8bc1bc4a",
      "name": "Fetch Google Sheets Data (Proxy)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        872,
        1284
      ],
      "credentials": {
        "googleApi": {
          "id": "LvHMiivmZXgTlEwU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "22672944-a582-4916-a64e-fb8bf4d58189",
      "name": "Respond with Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        880,
        1184
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/oauth2/v3/userinfo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization }}"
            }
          ]
        }
      },
      "id": "46f52aaf-2e8b-4869-b568-da7cf030ec99",
      "name": "Verify Google Token1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        224,
        1184
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.email }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "0b9dec89-ea5a-4bc1-bacd-c9f21b079e54",
      "name": "Token Valid?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        448,
        1184
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/verify",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://tourmaline-taffy-61d3c1.netlify.app"
        }
      },
      "id": "14166c0d-8ff8-4cc7-a4f0-cd84b7da6017",
      "name": "Webhook (POST /auth/verify)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        848
      ],
      "webhookId": "kosmos-auth-verify"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "userRole",
              "value": "={{ $('Get User Role1').item.json.values ? ($('Get User Role1').item.json.values.find(row => row[0].toLowerCase() === $('Token Valid?2').item.json.email.toLowerCase())?.[1] || 'GUEST') : 'GUEST' }}"
            },
            {
              "name": "email",
              "value": "={{ $('Token Valid?2').item.json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ff058080-4318-4b22-9018-fd24900a7c63",
      "name": "Format Authorized Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        880,
        736
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/oauth2/v3/userinfo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization }}"
            }
          ]
        }
      },
      "id": "667e5631-9c35-4247-9260-74a00c9f48de",
      "name": "Verify Google Token2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        224,
        848
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.email }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e1d87977-26da-4de6-8206-bf1ce41e665a",
      "name": "Token Valid?2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        448,
        848
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/1u12ILaBSj5B3Iy3yh6DYyanSIp7UQjimOBw61yYVmME/values/Config_Users!A2:B' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "f55d6dac-e094-4984-93db-fb9c47a67c04",
      "name": "Get User Role1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "alwaysOutputData": true,
      "position": [
        656,
        736
      ],
      "credentials": {
        "googleApi": {
          "id": "LvHMiivmZXgTlEwU",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"Invalid or expired token\",\n  \"userRole\": \"GUEST\"\n}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS, PUT, DELETE"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Authorization, Content-Type"
              }
            ]
          }
        }
      },
      "id": "7f73bde0-62d2-475d-ac8a-ca7a82c94a1b",
      "name": "Respond 401 Unauthorized1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        656,
        944
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/rating",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://tourmaline-taffy-61d3c1.netlify.app"
        }
      },
      "id": "92ed6deb-8a38-46be-a49f-cdc06713fff9",
      "name": "Webhook (POST /api/rating)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1312,
        -32
      ],
      "webhookId": "kosmos-api-rating"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/oauth2/v3/userinfo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization }}"
            }
          ]
        }
      },
      "id": "bce63254-7597-4bfe-9238-2ccf387b4179",
      "name": "Verify Google Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1536,
        -32
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.email }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "3ab90e26-6916-49a3-847b-5bc4097c6f4f",
      "name": "Token Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1760,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook (POST /api/rating)').first().json.body;\nlet email = '';\ntry { email = $('Verify Google Token').first().json.email; } catch(e) {}\nif (!email) { try { email = $('Verify Magic JWT (Rating)').first().json.email; } catch(e) {} }\nreturn [{ json: {\n  'Zeitstempel': new Date().toISOString(),\n  'Session_ID': body.sessionId || '',\n  'Reviewer_Email': email,\n  'Score': body.score || 0,\n  'Kommentar': body.kommentar || '',\n  'Kategorie': body.kategorie || 'relevanz'\n}}];"
      },
      "id": "325315c8-af3d-429d-849b-1494126f3afe",
      "name": "Prepare Rating Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1u12ILaBSj5B3Iy3yh6DYyanSIp7UQjimOBw61yYVmME",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master_Ratings",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Zeitstempel",
              "displayName": "Zeitstempel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Session_ID",
              "displayName": "Session_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reviewer_Email",
              "displayName": "Reviewer_Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Kommentar",
              "displayName": "Kommentar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Kategorie",
              "displayName": "Kategorie",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "24526990-d79a-4b51-a8e1-21731b12127b",
      "name": "Append to Master_Ratings",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2192,
        -32
      ],
      "credentials": {
        "googleApi": {
          "id": "LvHMiivmZXgTlEwU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "6a70e085-262b-46a5-a645-6563ac9d1aac",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2416,
        -32
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Unauthorized\"}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "3cc34c23-c858-4462-9b06-f91d6cb2a2b5",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1984,
        176
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/register-speaker",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://tourmaline-taffy-61d3c1.netlify.app"
        }
      },
      "id": "ec003506-090c-46bf-8652-50c3bd05fef9",
      "name": "Webhook (POST /api/register-speaker)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1856,
        480
      ],
      "webhookId": "kosmos-cfp-register"
    },
    {
      "parameters": {
        "jsCode": "// WICHTIG: Die Feld-Namen müssen EXAKT mit den Sheet-Headern übereinstimmen!\n// Sheet-Header: Status_Einladung | Status_Backend | ID | Vorname | Nachname | Pronomen | Organisation | Bio | Webseite | Update | E-Mail | Telefon | Herkunft | Sprache | Registriert_am | Registriert_von\n\nconst timestamp = Date.now().toString(36).toUpperCase();\nconst random = Math.random().toString(36).substring(2, 5).toUpperCase();\nconst speakerId = `SPK-${timestamp.slice(-4)}${random}`;\n\nconst body = $input.first().json.body || {};\nconst vorname = (body.vorname || '').trim();\nconst nachname = (body.nachname || '').trim();\nconst email = (body.email || '').trim();\nconst bio = (body.bio || '').trim();\n\nconst isComplete = email && bio && vorname && nachname;\nconst status = isComplete ? '8_CFP' : '9_CFP_Dummy';\nconst registriertVon = body.registriert_von || 'CFP-Formular';\n\n// Feld-Namen = Sheet-Header (exakt!)\nreturn [{\n  json: {\n    'Status_Einladung': status,\n    'Status_Backend': 'aktiv',\n    'ID': speakerId,\n    'Vorname': vorname,\n    'Nachname': nachname,\n    'Pronomen': body.pronomen || '',\n    'Organisation': body.organisation || '',\n    'Bio': bio,\n    'Webseite': body.webseite || '',\n    'Update': '',\n    'E-Mail': email,\n    'Telefon': body.telefon || '',\n    'Herkunft': body.herkunft || '',\n    'Sprache': body.sprache || '',\n    'Registriert_am': new Date().toISOString(),\n    'Registriert_von': registriertVon\n  }\n}];"
      },
      "id": "b9ee024e-a28b-41ad-98ca-4944a57d57da",
      "name": "Generate Speaker ID & Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        480
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1u12ILaBSj5B3Iy3yh6DYyanSIp7UQjimOBw61yYVmME",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "26_Kosmos_SprecherInnen",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Status_Einladung",
              "displayName": "Status_Einladung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status_Backend",
              "displayName": "Status_Backend",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pronomen",
              "displayName": "Pronomen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Organisation",
              "displayName": "Organisation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Bio",
              "displayName": "Bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Webseite",
              "displayName": "Webseite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Update",
              "displayName": "Update",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefon",
              "displayName": "Telefon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Herkunft",
              "displayName": "Herkunft",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sprache",
              "displayName": "Sprache",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Registriert_am",
              "displayName": "Registriert_am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Registriert_von",
              "displayName": "Registriert_von",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Kalkuliertes Honorar (netto)",
              "displayName": "Kalkuliertes Honorar (netto)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MWST",
              "displayName": "MWST",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Honorar (brutto)",
              "displayName": "Honorar (brutto)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Gesamtkosten SprecherIn inkl. Travel",
              "displayName": "Gesamtkosten SprecherIn inkl. Travel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status Rechnung",
              "displayName": "Status Rechnung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Abrechnung",
              "displayName": "Abrechnung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reise von",
              "displayName": "Reise von",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hotel",
              "displayName": "Hotel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Anzahl Nächte",
              "displayName": "Anzahl Nächte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Briefing ",
              "displayName": "Briefing ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "69def101-656e-45bb-816c-5e59bc4a6386",
      "name": "Append to SprecherInnen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2336,
        480
      ],
      "credentials": {
        "googleApi": {
          "id": "LvHMiivmZXgTlEwU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, speakerId: $('Generate Speaker ID & Status').item.json.ID, status: $('Generate Speaker ID & Status').item.json.Status_Einladung }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "1302b3ba-ed1d-4533-bd12-e719c9e3550a",
      "name": "Respond with Speaker ID",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2688,
        512
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/save",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://tourmaline-taffy-61d3c1.netlify.app"
        }
      },
      "id": "c58340d7-5c70-48fd-80dc-f5cc41cb6670",
      "name": "Webhook (POST /api/save)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1472,
        1248
      ],
      "webhookId": "kosmos-api-save"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $('Webhook (POST /api/save)').item.json.body.spreadsheetId + '/values/' + encodeURIComponent($('Webhook (POST /api/save)').item.json.body.range) + '?valueInputOption=USER_ENTERED' }}",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: $('Webhook (POST /api/save)').item.json.body.values }) }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi"
      },
      "id": "59112d5a-57bc-420a-9820-698a7bd4f7b3",
      "name": "Write to Google Sheets (Proxy)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2128,
        1136
      ],
      "credentials": {
        "googleApi": {
          "id": "LvHMiivmZXgTlEwU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS, PUT, DELETE"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Authorization, Content-Type"
              }
            ]
          }
        }
      },
      "id": "09c73d63-bebc-47b1-9785-01c5e0122a98",
      "name": "Respond with Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2352,
        1136
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/oauth2/v3/userinfo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization }}"
            }
          ]
        }
      },
      "id": "d520e00c-7d00-4798-b173-a4cc8eef028d",
      "name": "Verify Google Token3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1696,
        1248
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.email }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "c59ab58c-c2a5-4853-8c7b-6cf5c51f9db9",
      "name": "Token Valid?3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1920,
        1248
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Unauthorized\" }",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS, PUT, DELETE"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Authorization, Content-Type"
              }
            ]
          }
        }
      },
      "id": "0988f997-084c-4ef7-be90-830b9a5a0e0f",
      "name": "Respond 401 Unauthorized2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2128,
        1440
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/verify-magic",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          },
          "allowedOrigins": "https://tourmaline-taffy-61d3c1.netlify.app"
        }
      },
      "id": "58613fd1-5c92-4890-951e-d9c4efb2767c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1824,
        2704
      ],
      "webhookId": "fc4384ba-cc4b-4e44-9949-83e0b7082bad"
    },
    {
      "parameters": {
        "jsCode": "const jwt = require('jsonwebtoken');\nconst SECRET = '537f8c4ff1959fdc1d54ce852607f2c30f08607925a39e61be189d3d58e29ff1';\nconst token = $input.first().json.body?.token || '';\nif (!token) {\n  return [{ json: { ok: false, error: 'Kein Token angegeben.' } }];\n}\ntry {\n  const decoded = jwt.verify(token, SECRET);\n  if (!decoded.nonce) {\n    return [{ json: { ok: false, error: 'Ungültiges Token-Format.' } }];\n  }\n  return [{ json: { valid: true, email: decoded.email, role: decoded.role || 'TEILNEHMENDE', nonce: decoded.nonce }}];\n} catch (err) {\n  if (err.name === 'TokenExpiredError') {\n    return [{ json: { ok: false, error: 'Der Magic Link ist abgelaufen.' } }];\n  }\n  return [{ json: { ok: false, error: 'Der Magic Link ist ungültig.' } }];\n}\n"
      },
      "id": "df05c14f-7286-49de-9946-fce3f24c8137",
      "name": "Verify JWT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        2704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "1d0f388e-7c93-4a31-866d-ea054e976906",
      "name": "If Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1376,
        2704
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1u12ILaBSj5B3Iy3yh6DYyanSIp7UQjimOBw61yYVmME"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Magic_Link_Tokens"
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "1af2eca2-9509-43bd-834a-467b2dee41f5",
      "name": "Read Magic_Link_Tokens",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1152,
        2608
      ],
      "credentials": {
        "googleApi": {
          "id": "LvHMiivmZXgTlEwU",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const verifyData = $('Verify JWT').first().json;\nconst nonce = String(verifyData.nonce || '').trim();\nconst email = verifyData.email;\nconst rows = $input.all().map(item => item.json);\nlet tokenRow = null;\nlet tokenRowIndex = -1;\nfor (let i = 0; i < rows.length; i++) {\n  const vals = Object.values(rows[i]);\n  if (vals.some(v => String(v).trim() === nonce)) {\n    tokenRow = rows[i];\n    tokenRowIndex = i + 2;\n    break;\n  }\n}\nif (!tokenRow) {\n  return [{ json: { ok: false, nonceValid: false, error: 'Magic Link ungueltig.' }}];\n}\nconst statusVal = Object.values(tokenRow).find(v => String(v).trim().toUpperCase() === 'USED');\nif (statusVal) {\n  return [{ json: { ok: false, nonceValid: false, error: 'Magic Link bereits verwendet.' }}];\n}\nreturn [{ json: { ok: true, nonceValid: true, email: email, role: verifyData.role, tokenRowIndex: tokenRowIndex, nonce: nonce }}];\n"
      },
      "id": "e01043d8-c5fb-4327-af63-1628e1a29c62",
      "name": "Check Nonce (One-Time)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        2608
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "013644a5-a9fa-44b8-a8da-c70182ce9d45",
              "leftValue": "={{ $json.nonceValid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ed1560f2-9427-475d-9ae5-5db09d9de599",
      "name": "If Nonce Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -720,
        2608
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1u12ILaBSj5B3Iy3yh6DYyanSIp7UQjimOBw61yYVmME"
        },
        "sheetName": {
          "__rl": true,
          "value": 320344701,
          "mode": "list",
          "cachedResultName": "Config_Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u12ILaBSj5B3Iy3yh6DYyanSIp7UQjimOBw61yYVmME/edit#gid=320344701"
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "c6fd8e07-40cd-4cb3-9bf2-e242048c5648",
      "name": "Read Config_Users",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -272,
        2512
      ],
      "credentials": {
        "googleApi": {
          "id": "LvHMiivmZXgTlEwU",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Check if user exists in Config_Users, merge roles if exists\nconst nonceData = $('Check Nonce (One-Time)').first().json;\nconst email = (nonceData.email || '').toLowerCase().trim();\nconst tokenRole = (nonceData.role || 'TEILNEHMENDE').toUpperCase().trim();\n\nconst rows = $input.all().map(item => item.json);\n\n// Find existing user by email\nconst existingUser = rows.find(r => {\n  const emailCol = (r['Email'] || r['A'] || r['email'] || '').toLowerCase().trim();\n  if (emailCol === email) return true;\n  return Object.values(r).some(v => String(v || '').toLowerCase().trim() === email);\n});\n\n// Find the row index for potential updates\nlet existingRowIndex = -1;\nfor (let i = 0; i < rows.length; i++) {\n  const emailCol = (rows[i]['Email'] || rows[i]['A'] || rows[i]['email'] || '').toLowerCase().trim();\n  if (emailCol === email || Object.values(rows[i]).some(v => String(v || '').toLowerCase().trim() === email)) {\n    existingRowIndex = i + 2; // 1-indexed + header\n    break;\n  }\n}\n\nif (existingUser) {\n  // Parse existing roles (may be comma-separated)\n  const roleCol = existingUser['Role'] || existingUser['B'] || existingUser['role'] || '';\n  const existingRoles = roleCol.split(',').map(r => r.trim().toUpperCase()).filter(Boolean);\n  \n  // Merge: add tokenRole if not already present\n  let mergedRoles = [...existingRoles];\n  if (tokenRole && !mergedRoles.includes(tokenRole)) {\n    mergedRoles.push(tokenRole);\n  }\n  const finalRole = mergedRoles.join(',');\n  \n  // Check if we need to update the role in the sheet\n  const needsRoleUpdate = finalRole !== roleCol.toUpperCase().trim();\n  \n  return [{ json: {\n    email,\n    role: finalRole,\n    isNewUser: false,\n    needsCreation: false,\n    needsRoleUpdate,\n    rowIndex: existingRowIndex\n  }}];\n} else {\n  return [{ json: {\n    email,\n    role: tokenRole,\n    isNewUser: true,\n    needsCreation: true,\n    needsRoleUpdate: false,\n    rowIndex: -1\n  }}];\n}"
      },
      "id": "9661fd1f-aba2-4abb-aa3a-0aa7d72cfb4d",
      "name": "Check User Exists",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        2512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "needs-creation",
              "leftValue": "={{ $json.needsCreation }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "id": "needs-role-update",
              "leftValue": "={{ $json.needsRoleUpdate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "4a3ba9d9-8d02-44f8-a9f9-0a0a9a8404e9",
      "name": "If New User",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        176,
        2512
      ]
    },
    {
      "parameters": {
        "jsCode": "// Upsert user in Config_Users: append if new, update role if existing\nconst data = $input.first().json;\nconst isNew = data.needsCreation;\nconst rowIndex = data.rowIndex;\nconst email = data.email;\nconst role = data.role;\nconst spreadsheetId = '1u12ILaBSj5B3Iy3yh6DYyanSIp7UQjimOBw61yYVmME';\n\nif (isNew) {\n  // Append new user row\n  const range = encodeURIComponent(\"Config_Users!A:C\");\n  return [{ json: {\n    action: 'append',\n    url: 'https://sheets.googleapis.com/v4/spreadsheets/' + spreadsheetId + '/values/' + range + ':append?valueInputOption=USER_ENTERED&insertDataOption=INSERT_ROWS',\n    values: [[email, role || 'TEILNEHMENDE', '']]\n  } }];\n} else {\n  // Update existing row's role column (column B)\n  const range = encodeURIComponent(\"Config_Users!B\" + rowIndex);\n  return [{ json: {\n    action: 'update',\n    url: 'https://sheets.googleapis.com/v4/spreadsheets/' + spreadsheetId + '/values/' + range + '?valueInputOption=USER_ENTERED',\n    values: [[role || 'TEILNEHMENDE']]\n  } }];\n}\n"
      },
      "id": "a060d0b2-0e9b-47d0-858b-7604a467496a",
      "name": "Create User in Config_Users",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        2400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XHAaj2jW66uJmJCY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"email\": \"{{ $('Check User Exists').first().json.email }}\", \"role\": \"{{ $('Check User Exists').first().json.role }}\", \"name\": \"\", \"isNewUser\": {{ $('Check User Exists').first().json.isNewUser }} }",
        "options": {}
      },
      "id": "528be85a-751a-434f-bf24-e759d2ce56a1",
      "name": "Respond Verified",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        608,
        2512
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Verify JWT').first().json) }}",
        "options": {}
      },
      "id": "d205503f-0a6b-4729-bf73-ec7f43a57b68",
      "name": "Respond Invalid JWT",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1152,
        2864
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Check Nonce (One-Time)').first().json) }}",
        "options": {}
      },
      "id": "bf7384e9-c502-4927-989d-7e255092021f",
      "name": "Respond Nonce Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -496,
        2752
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract input\nconst email = ($input.first().json.body?.email || '').toLowerCase().trim();\nconst adminInvite = $input.first().json.body?.adminInvite === true;\n\nif (!email || !email.includes('@')) {\n  return [{ json: { ok: false, error: 'Bitte gib eine gültige Email-Adresse ein.' } }];\n}\n\nreturn [{ json: { email, adminInvite } }];"
      },
      "id": "fa913372-deb1-4b07-8e83-4e5d25e4e203",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        3232
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check open call status and user existence\nconst inputData = $('Parse Input').first().json;\nconst email = inputData.email;\nconst adminInvite = inputData.adminInvite;\n\n// Handle case where Read Config_Users1 failed (e.g. expired credentials)\nconst items = $input.all();\nif (!items || items.length === 0 || items[0].json?.error) {\n  // If we can't read Config_Users, allow the request through as new user\n  // (the verification step will handle role assignment later)\n  return [{ json: {\n    allowed: true,\n    email: email,\n    role: 'TEILNEHMENDE',\n    isExistingUser: false,\n    adminInvite: adminInvite,\n    configError: true\n  }}];\n}\n\nconst rows = items.map(item => item.json);\n\n// Open Call status check\nlet openCallStatus = 'OPEN';\nif (rows.length > 0) {\n  const firstRow = rows[0];\n  const dValue = firstRow['D'] || firstRow['Status'] || firstRow['OpenCall'] || '';\n  if (dValue.toUpperCase() === 'CLOSED') {\n    openCallStatus = 'CLOSED';\n  }\n}\n\n// Find user by email (check Email/A column)\nconst existingUser = rows.find(r => {\n  const rowEmail = (r['Email'] || r['A'] || r['email'] || '').toLowerCase().trim();\n  return rowEmail === email;\n});\n\nconst existingRole = existingUser\n  ? (existingUser['Role'] || existingUser['B'] || existingUser['role'] || 'TEILNEHMENDE')\n  : null;\n\n// Decision logic\nif (!adminInvite && openCallStatus === 'CLOSED' && !existingUser) {\n  return [{ json: {\n    allowed: false,\n    error: 'Der Open Call ist derzeit geschlossen. Nur eingeladene Personen können sich anmelden.'\n  }}];\n}\n\nreturn [{ json: {\n  allowed: true,\n  email: email,\n  role: existingRole || 'TEILNEHMENDE',\n  isExistingUser: !!existingUser,\n  adminInvite: adminInvite\n}}];\n"
      },
      "id": "b123f346-b768-4ed4-abb6-3f96229a5ef5",
      "name": "Check Eligibility",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        3232
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.allowed }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "1eb667f5-ccd2-4283-8434-a51d6bd5f6cd",
      "name": "If Allowed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        896,
        3232
      ]
    },
    {
      "parameters": {
        "jsCode": "const jwt = require('jsonwebtoken');\nconst SECRET = '537f8c4ff1959fdc1d54ce852607f2c30f08607925a39e61be189d3d58e29ff1';\nconst email = $json.email;\nconst role = $json.role;\nfunction generateNonce() {\n  const chars = 'abcdef0123456789';\n  let result = Date.now().toString(16);\n  for (let i = result.length; i < 48; i++) {\n    result += chars[Math.floor(Math.random() * chars.length)];\n  }\n  return result;\n}\nconst nonce = generateNonce();\nconst token = jwt.sign({ email, role, nonce }, SECRET, { expiresIn: '7d' });\nconst SITE_URL = 'https://tourmaline-taffy-61d3c1.netlify.app';\nconst magicLink = `${SITE_URL}/?magic=${token}`;\nconst expiresAt = new Date(Date.now() + 7 * 24 * 60 * 60 * 1000).toISOString();\nreturn [{ json: { email, role, token, nonce, magicLink, expiresAt, isExistingUser: $json.isExistingUser }}];\n"
      },
      "id": "27e7feb0-5339-40e9-8aa7-beb2ce389a40",
      "name": "Generate JWT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        3120
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1u12ILaBSj5B3Iy3yh6DYyanSIp7UQjimOBw61yYVmME"
        },
        "sheetName": {
          "__rl": true,
          "value": 1455756477,
          "mode": "list",
          "cachedResultName": "Magic_Link_Tokens",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u12ILaBSj5B3Iy3yh6DYyanSIp7UQjimOBw61yYVmME/edit#gid=1455756477"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nonce": "={{  $json.nonce }}",
            "Email": "={{  $json.email }}",
            "Created": "={{  new Date().toISOString() }}",
            "Expires": "={{  $json.expiresAt }}",
            "Status": "UNUSED"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nonce",
              "displayName": "Nonce",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expires",
              "displayName": "Expires",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "342b78a2-fb30-4b83-9e2e-1c6151497b48",
      "name": "Store Nonce in Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1328,
        3120
      ],
      "credentials": {
        "googleApi": {
          "id": "LvHMiivmZXgTlEwU",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"message\": \"Magic Link wurde an {{ $('Generate JWT').first().json.email }} gesendet.\" }",
        "options": {}
      },
      "id": "080bb813-886a-48cd-b2e2-c57f46d98846",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1776,
        3120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": false, \"error\": \"{{ $('Check Eligibility').first().json.error }}\" }",
        "options": {}
      },
      "id": "23c0875b-b684-4e03-8942-f4d138f125d1",
      "name": "Respond Rejected",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1104,
        3376
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/request-magic-link",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          },
          "allowedOrigins": "https://tourmaline-taffy-61d3c1.netlify.app"
        }
      },
      "id": "ccc06b68-2fa4-4e47-a7e1-6d6d24fb1349",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        16,
        3232
      ],
      "webhookId": "e3cb157e-232b-4aa5-bfe1-508d7442ca12"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1u12ILaBSj5B3Iy3yh6DYyanSIp7UQjimOBw61yYVmME"
        },
        "sheetName": {
          "__rl": true,
          "value": 320344701,
          "mode": "list",
          "cachedResultName": "Config_Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u12ILaBSj5B3Iy3yh6DYyanSIp7UQjimOBw61yYVmME/edit#gid=320344701"
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "d0833244-2399-4406-a147-0f98bb3b7e9b",
      "name": "Read Config_Users1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        448,
        3232
      ],
      "credentials": {
        "googleApi": {
          "id": "LvHMiivmZXgTlEwU",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "sciinnart@gmail.com",
        "toEmail": "={{ $if($('Generate JWT').isExecuted, $('Generate JWT').first().json.email, \"test@example.com\") }}\n",
        "subject": "🔑 Dein Login-Link für Kosmos Planner",
        "html": "=<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; max-width: 500px; margin: 0 auto; padding: 20px;\">\n<h2 style=\"color: #1e293b;\">Hallo!</h2>\n<p style=\"color: #475569; font-size: 14px;\">Hier ist dein persönlicher Login-Link für den <strong>Kosmos Planner</strong>:</p>\n<div style=\"margin: 24px 0; text-align: center;\">\n<a href=\"{{ $if($('Generate JWT').isExecuted, $('Generate JWT').first().json.magicLink, '#') }}\" style=\"display: inline-block; background: #4f46e5; color: white; font-weight: bold; padding: 14px 28px; border-radius: 8px; text-decoration: none; font-size: 16px;\">Jetzt einloggen →</a>\n</div>\n<p style=\"color: #94a3b8; font-size: 12px;\">Der Link ist <strong>7 Tage</strong> gültig und kann <strong>nur einmal</strong> verwendet werden.</p>\n<hr style=\"border: none; border-top: 1px solid #e2e8f0; margin: 20px 0;\">\n<p style=\"color: #94a3b8; font-size: 11px;\">Falls du diesen Link nicht angefordert hast, kannst du diese Email ignorieren.</p>\n<p style=\"color: #94a3b8; font-size: 11px;\">— Kosmos Festival Team</p>\n</div>\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1552,
        3120
      ],
      "id": "e96a0be1-3fc0-4686-8ec9-1ea32beaf7cd",
      "name": "Send an Email",
      "webhookId": "7d8dfd0e-69d2-4c04-b68d-9608e18be916",
      "credentials": {
        "smtp": {
          "id": "J3SxBLRnt91epoZF",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1u12ILaBSj5B3Iy3yh6DYyanSIp7UQjimOBw61yYVmME"
        },
        "sheetName": {
          "__rl": true,
          "value": 1455756477,
          "mode": "list",
          "cachedResultName": "Magic_Link_Tokens",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u12ILaBSj5B3Iy3yh6DYyanSIp7UQjimOBw61yYVmME/edit#gid=1455756477"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nonce": "={{ $('Verify JWT').first().json.nonce }}",
            "Status": "USED"
          },
          "matchingColumns": [
            "Nonce"
          ],
          "schema": [
            {
              "id": "Nonce",
              "displayName": "Nonce",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Expires",
              "displayName": "Expires",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "5b3fbce1-427e-4493-90e3-5ba97175bbe2",
      "name": "Mark Token USED",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -560,
        2384
      ],
      "credentials": {
        "googleApi": {
          "id": "LvHMiivmZXgTlEwU",
          "name": "Google Service Account account"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const jwt = require('jsonwebtoken');\nconst SECRET = '537f8c4ff1959fdc1d54ce852607f2c30f08607925a39e61be189d3d58e29ff1';\nconst authHeader = $('Webhook (POST /api/data)').first().json.headers?.authorization || '';\nconst parts = authHeader.split(' ');\nconst token = parts.length > 1 ? parts[parts.length - 1] : parts[0] || '';\nif (!token) return [{ json: { error: 'No token' } }];\ntry {\n  const decoded = jwt.verify(token, SECRET);\n  if (decoded.email) return [{ json: { email: decoded.email, role: decoded.role || 'TEILNEHMENDE', authType: 'magic' } }];\n} catch(e) {\n  // Token invalid or expired\n}\nreturn [{ json: { error: 'Invalid token' } }];"
      },
      "id": "magic-jwt-data",
      "name": "Verify Magic JWT (Data)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        1392
      ]
    },
    {
      "parameters": {
        "jsCode": "const jwt = require('jsonwebtoken');\nconst SECRET = '537f8c4ff1959fdc1d54ce852607f2c30f08607925a39e61be189d3d58e29ff1';\nconst token = $('Webhook (POST /auth/verify)').first().json.body?.token || '';\nif (!token) return [{ json: { error: 'No token' } }];\ntry {\n  const decoded = jwt.verify(token, SECRET);\n  if (decoded.email) return [{ json: { email: decoded.email, role: decoded.role || 'TEILNEHMENDE', authType: 'magic' } }];\n} catch(e) {\n  // Token invalid or expired\n}\nreturn [{ json: { error: 'Invalid token' } }];"
      },
      "id": "magic-jwt-auth",
      "name": "Verify Magic JWT (Auth)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        1048
      ]
    },
    {
      "parameters": {
        "jsCode": "const jwt = require('jsonwebtoken');\nconst SECRET = '537f8c4ff1959fdc1d54ce852607f2c30f08607925a39e61be189d3d58e29ff1';\nconst authHeader = $('Webhook (POST /api/rating)').first().json.headers?.authorization || '';\nconst parts = authHeader.split(' ');\nconst token = parts.length > 1 ? parts[parts.length - 1] : parts[0] || '';\nif (!token) return [{ json: { error: 'No token' } }];\ntry {\n  const decoded = jwt.verify(token, SECRET);\n  if (!decoded.email) return [{ json: { error: 'Invalid token' } }];\n  // Role check: only ADMIN/CURATOR/REVIEWER can submit ratings\n  const ratingRoles = (decoded.role || '').toUpperCase().split(',').map(r => r.trim());\n  const canRate = ratingRoles.some(r => ['ADMIN', 'CURATOR', 'REVIEWER'].includes(r));\n  if (!canRate) return [{ json: { error: 'Keine Berechtigung für Bewertungen' } }];\n  return [{ json: { email: decoded.email, role: decoded.role || 'TEILNEHMENDE', authType: 'magic' } }];\n} catch(e) {}\nreturn [{ json: { error: 'Invalid token' } }];\n"
      },
      "id": "magic-jwt-rating",
      "name": "Verify Magic JWT (Rating)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const jwt = require('jsonwebtoken');\nconst SECRET = '537f8c4ff1959fdc1d54ce852607f2c30f08607925a39e61be189d3d58e29ff1';\nconst authHeader = $('Webhook (POST /api/save)').first().json.headers?.authorization || '';\nconst parts = authHeader.split(' ');\nconst token = parts.length > 1 ? parts[parts.length - 1] : parts[0] || '';\nif (!token) return [{ json: { error: 'No token' } }];\ntry {\n  const decoded = jwt.verify(token, SECRET);\n  if (!decoded.email) return [{ json: { error: 'Invalid token' } }];\n  // Return email so Token Valid?3 can check it\n  return [{ json: { email: decoded.email, role: decoded.role || 'TEILNEHMENDE' } }];\n} catch(e) {\n  return [{ json: { error: 'Invalid or expired token' } }];\n}\n"
      },
      "id": "magic-jwt-save",
      "name": "Verify Magic JWT (Save)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        1448
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "auth-verified-respond-001",
      "name": "Respond Auth Verified",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1104,
        736
      ]
    },
    {
      "parameters": {
        "jsCode": "// Route based on action + build RBAC lookup URL\n// RBAC: fetch Config_Users for role check, and target row email for ownership\nconst body = $('Webhook (POST /api/data)').first().json.body || {};\nconst action = (body.action || 'batchGet').toLowerCase();\nconst spreadsheetId = body.spreadsheetId;\n\n// Build RBAC lookup URL (always fetch Config_Users for role verification)\nlet rbacRanges = ['ranges=' + encodeURIComponent(\"'Config_Users'!A2:C\")];\n\n// For write operations to SprecherInnen, also fetch target row A:K for ownership check\nif (action !== 'batchget' && action !== 'get') {\n  const range = body.range || '';\n  const rangeLC = range.toLowerCase();\n  if (rangeLC.includes('sprecher') || rangeLC.includes('speaker')) {\n    const rowMatch = range.match(/[!].*?(\\d+)/);\n    if (rowMatch) {\n      const targetRow = rowMatch[1];\n      const sheetMatch = range.match(/^'?([^'!]+)'?!/);\n      const sheetName = sheetMatch ? sheetMatch[1] : '26_Kosmos_SprecherInnen';\n      rbacRanges.push('ranges=' + encodeURIComponent(\"'\" + sheetName + \"'!A\" + targetRow + \":K\" + targetRow));\n    }\n  }\n}\n\nconst rbacUrl = 'https://sheets.googleapis.com/v4/spreadsheets/' + spreadsheetId + '/values:batchGet?' + rbacRanges.join('&');\n\nif (action === 'append') {\n  return [{ json: {\n    action: 'append', method: 'POST', spreadsheetId,\n    range: body.range, values: body.values || [], rbacUrl,\n    url: 'https://sheets.googleapis.com/v4/spreadsheets/' + spreadsheetId + '/values/' + encodeURIComponent(body.range) + ':append?valueInputOption=USER_ENTERED&insertDataOption=INSERT_ROWS'\n  }}];\n} else if (action === 'update') {\n  return [{ json: {\n    action: 'update', method: 'PUT', spreadsheetId,\n    range: body.range, values: body.values || [], rbacUrl,\n    url: 'https://sheets.googleapis.com/v4/spreadsheets/' + spreadsheetId + '/values/' + encodeURIComponent(body.range) + '?valueInputOption=USER_ENTERED'\n  }}];\n} else {\n  const ranges = body.ranges || [];\n  const rangeParams = ranges.map(r => 'ranges=' + encodeURIComponent(r)).join('&');\n  return [{ json: {\n    action: 'batchGet', method: 'GET', spreadsheetId, ranges, rbacUrl,\n    url: 'https://sheets.googleapis.com/v4/spreadsheets/' + spreadsheetId + '/values:batchGet?' + rangeParams\n  }}];\n}\n"
      },
      "id": "route-action-001",
      "name": "Route Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        472,
        1184
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "not-read",
              "leftValue": "={{ $json.action }}",
              "rightValue": "batchGet",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "not-denied",
              "leftValue": "={{ $json.action }}",
              "rightValue": "denied",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-append-001",
      "name": "If Write",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        672,
        1184
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: $json.values }) }}",
        "options": {}
      },
      "id": "append-sheet-001",
      "name": "Append to Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        872,
        1084
      ],
      "credentials": {
        "googleApi": {
          "id": "LvHMiivmZXgTlEwU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, message: 'Operation completed' }) }}",
        "options": {}
      },
      "id": "respond-append-001",
      "name": "Respond Write OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1072,
        1084
      ]
    },
    {
      "parameters": {
        "method": "={{ $json.action === 'append' ? 'POST' : 'PUT' }}",
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: $json.values }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        2220
      ],
      "id": "write-config-user-001",
      "name": "Write Config_Users",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XHAaj2jW66uJmJCY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Sanitize batchGet response based on user role\nlet userEmail = '';\ntry {\n  userEmail = ($('Verify Google Token1').first().json.email || '').toLowerCase().trim();\n} catch(e) {}\nif (!userEmail) {\n  try {\n    userEmail = ($('Verify Magic JWT (Data)').first().json.email || '').toLowerCase().trim();\n  } catch(e) {}\n}\n\nconst response = $input.first().json;\nif (!response.valueRanges || !Array.isArray(response.valueRanges)) {\n  return [{ json: response }];\n}\n\n// Determine role from Config_Users in the response\nlet userRole = 'GUEST';\nconst configUsersRange = response.valueRanges.find(vr =>\n  (vr.range || '').includes('Config_Users') && !(vr.range || '').includes('D1')\n);\nif (configUsersRange && configUsersRange.values) {\n  for (const row of configUsersRange.values) {\n    if ((String(row[0] || '')).toLowerCase().trim() === userEmail) {\n      userRole = String(row[1] || 'GUEST').toUpperCase().trim();\n      break;\n    }\n  }\n}\n\nconst roles = userRole.split(',').map(r => r.trim().toUpperCase()).filter(Boolean);\nconst isPrivileged = roles.some(r => ['ADMIN', 'CURATOR', 'REVIEWER', 'PRODUCTION'].includes(r));\n\nif (isPrivileged) return [{ json: response }];\n\n// Non-privileged: sanitize each valueRange\nconst sanitized = { ...response, valueRanges: [] };\n\nfor (const vr of response.valueRanges) {\n  const rng = (vr.range || '').toLowerCase();\n\n  // Config_Users: only return own row\n  if (rng.includes('config_users') && !rng.includes('d1')) {\n    const ownRow = (vr.values || []).filter(row =>\n      (String(row[0] || '')).toLowerCase().trim() === userEmail\n    );\n    sanitized.valueRanges.push({ ...vr, values: ownRow });\n    continue;\n  }\n\n  // SprecherInnen (26_Kosmos_SprecherInnen / speaker): strip emails except own\n  if (rng.includes('sprecher') || rng.includes('speaker')) {\n    const stripped = (vr.values || []).map(row => {\n      const speakerEmail = (String(row[10] || '')).toLowerCase().trim();\n      if (speakerEmail === userEmail) return row;\n      const s = [...row];\n      if (s.length > 10) s[10] = ''; // Column K = email\n      return s;\n    });\n    sanitized.valueRanges.push({ ...vr, values: stripped });\n    continue;\n  }\n\n  // Master_Einreichungen: strip other submitter emails\n  if (rng.includes('einreichung')) {\n    const stripped = (vr.values || []).map(row => {\n      const subEmail = (String(row[1] || '')).toLowerCase().trim();\n      if (subEmail === userEmail) return row;\n      const s = [...row];\n      s[1] = ''; // Column B = submitter email\n      return s;\n    });\n    sanitized.valueRanges.push({ ...vr, values: stripped });\n    continue;\n  }\n\n  // Master_Ratings: completely hidden for non-privileged\n  if (rng.includes('rating')) {\n    sanitized.valueRanges.push({ ...vr, values: [] });\n    continue;\n  }\n\n  // Everything else (Programm, Stages, Config_Themen, etc.): pass through\n  sanitized.valueRanges.push(vr);\n}\n\nreturn [{ json: sanitized }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2340,
        2020
      ],
      "id": "sanitize-data-001",
      "name": "Sanitize Data by Role"
    },
    {
      "parameters": {
        "url": "={{ $('Route Action').first().json.rbacUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "fetch-rbac-data-001",
      "name": "Fetch RBAC Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        2260
      ],
      "credentials": {
        "googleApi": {
          "id": "LvHMiivmZXgTlEwU",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════════════════\n// RBAC GATEKEEPER — Server-Side Access Control\n// ════════════════════════════════════════════════════════════════════\n// PRINCIPLE: Auth method (Google OAuth / Magic Link) has NO effect\n//           on permissions. ONLY Config_Users role determines access.\n// ════════════════════════════════════════════════════════════════════\n// ROLES & WRITE PERMISSIONS (derived from App.jsx frontend audit):\n//   ADMIN        → full access to all sheets incl Config_Users\n//   CURATOR      → SprecherInnen (all), Einreichungen, Ratings, Programm,\n//                  Config_Themen, Config_Stages, Config_Organisations\n//                  NOT Config_Users (only Admin)\n//   REVIEWER     → SprecherInnen (all rows, dashboard cols Q/W/Z/AE/AG/AH/AI/AJ),\n//                  Einreichungen, Ratings, Master_Programm\n//   PRODUCTION   → read-only (Planer + Produktion view)\n//   SPEAKER/BAND → own SprecherInnen row (cols A-N, AA-AC, AF, AK)\n//                  + Einreichungen\n//   TEILNEHMENDE → Einreichungen + own SprecherInnen row (after registration)\n//   ORGANISATION → own Config_Organisations row + Einreichungen\n//   GUEST        → no writes\n// ════════════════════════════════════════════════════════════════════\n\nconst routeData = $('Route Action').first().json;\nconst rbacData = $input.first().json;\n\n// 1. Determine authenticated user email (any auth method)\nlet userEmail = '';\ntry { userEmail = ($('Verify Google Token1').first().json.email || '').toLowerCase().trim(); } catch(e) {}\nif (!userEmail) {\n  try { userEmail = ($('Verify Magic JWT (Data)').first().json.email || '').toLowerCase().trim(); } catch(e) {}\n}\nif (!userEmail) {\n  return [{ json: { ...routeData, rbacAllowed: false, rbacReason: 'Kein authentifizierter User' } }];\n}\n\n// 2. Reads always pass through (sanitization happens in Sanitize Data by Role)\nif (routeData.action === 'batchGet') {\n  return [{ json: { ...routeData, rbacAllowed: true, rbacReason: 'Lesen erlaubt' } }];\n}\n\n// 3. Determine role from Config_Users\nconst configRows = (rbacData.valueRanges || [])[0]?.values || [];\nlet userRoles = ['GUEST'];\nfor (const row of configRows) {\n  const rowEmail = (String(row[0] || '')).toLowerCase().trim();\n  if (rowEmail === userEmail) {\n    userRoles = [...new Set(\n      (String(row[1] || 'GUEST')).toUpperCase().split(',').map(r => r.trim()).filter(Boolean)\n    )];\n    break;\n  }\n}\n\nconst hasRole = (...roles) => userRoles.some(r => roles.includes(r));\nconst range = (routeData.range || '').toLowerCase();\n\n// ──────────── ADMIN: full access ────────────\nif (hasRole('ADMIN')) {\n  return [{ json: { ...routeData, rbacAllowed: true, rbacReason: 'Admin-Zugriff' } }];\n}\n\n// ──────────── CURATOR: curate sessions, program, speakers ────────────\nif (hasRole('CURATOR')) {\n  const curatorSheets = ['sprecher', 'speaker', 'einreichung', 'master_einreichungen',\n    'master_rating', 'rating', 'master_programm', 'programm',\n    'config_themen', 'themen', 'config_stage', 'stage', 'buehnen',\n    'organisation', 'config_org'];\n  if (curatorSheets.some(s => range.includes(s))) {\n    return [{ json: { ...routeData, rbacAllowed: true, rbacReason: 'Curator-Zugriff' } }];\n  }\n  return [{ json: { ...routeData, rbacAllowed: false,\n    rbacReason: 'Curator: keine Schreibrechte fuer ' + routeData.range } }];\n}\n\n// ──────────── REVIEWER: SprecherInnen Dashboard + Einreichungen + Programm + own profile ────────────\nif (hasRole('REVIEWER')) {\n  // Reviewer can write to SprecherInnen (all rows via dashboard updateSpeakerField)\n  if (range.includes('sprecher') || range.includes('speaker')) {\n    return [{ json: { ...routeData, rbacAllowed: true, rbacReason: 'Reviewer SprecherInnen-Dashboard' } }];\n  }\n  // Reviewer can write to Einreichungen and Programm\n  const reviewerSheets = [\n    'master_einreichungen', 'einreichung', 'review',  // Einreichungen\n    'master_programm', 'programm'                      // Planer (session drag-drop)\n  ];\n  if (reviewerSheets.some(s => range.includes(s))) {\n    return [{ json: { ...routeData, rbacAllowed: true, rbacReason: 'Reviewer-Schreibrecht' } }];\n  }\n  // Reviewer can also edit own profile (GDPR self-delete)\n  if (range.includes('config_users')) {\n    const r = checkGdprSelfDelete();\n    return [{ json: { ...routeData, rbacAllowed: r.allowed, rbacReason: r.reason } }];\n  }\n  return [{ json: { ...routeData, rbacAllowed: false,\n    rbacReason: 'Reviewer: keine Schreibrechte fuer ' + routeData.range } }];\n}\n\n// ──────────── PRODUCTION: read-only ────────────\nif (hasRole('PRODUCTION') && !hasRole('SPEAKER', 'TEILNEHMENDE', 'ORGANISATION', 'BAND')) {\n  return [{ json: { ...routeData, rbacAllowed: false,\n    rbacReason: 'Production: nur Leserechte' } }];\n}\n\n// ──────────── Helper: speaker row ownership check ────────────\nconst checkSpeakerOwnership = () => {\n  if (routeData.action === 'append') {\n    const vals = routeData.values || [];\n    if (vals.length > 0 && vals[0].length > 10) {\n      const appendEmail = (String(vals[0][10] || '')).toLowerCase().trim();\n      if (appendEmail !== userEmail) {\n        return { allowed: false, reason: 'Registrierungs-Email stimmt nicht ueberein' };\n      }\n    }\n    return { allowed: true, reason: 'Selbst-Registrierung' };\n  }\n  // UPDATE: row ownership check\n  const targetRowValues = (rbacData.valueRanges || [])[1]?.values?.[0] || [];\n  const targetStatus = (String(targetRowValues[0] || '')).toLowerCase().trim();\n  const targetEmail = (String(targetRowValues[10] || '')).toLowerCase().trim();\n  if (targetEmail === userEmail) {\n    const colMatch = range.match(/!([A-Z]+)\\d/i);\n    if (colMatch) {\n      const col = colMatch[1].toUpperCase();\n      const allowed = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N',\n                       'AA','AB','AC','AF','AK'];\n      if (!allowed.includes(col)) {\n        return { allowed: false, reason: 'Spalte ' + col + ' nicht erlaubt fuer Self-Service' };\n      }\n    }\n    return { allowed: true, reason: 'Eigene Zeile bearbeiten' };\n  }\n  if (!targetEmail && (targetStatus === 'gelöscht' || targetStatus === 'geloescht')) {\n    return { allowed: true, reason: 'DSGVO-Bereinigung' };\n  }\n  return { allowed: false, reason: 'Zeilen-Eigentum nicht verifiziert' };\n};\n\n// ──────────── Helper: GDPR Config_Users self-delete ────────────\nconst checkGdprSelfDelete = () => {\n  const vals = routeData.values || [];\n  if (vals.length === 1 && vals[0].length === 3 &&\n      vals[0][0] === '[gelöscht]' && vals[0][1] === 'GELÖSCHT' && vals[0][2] === '') {\n    const rowMatch = range.match(/!A(\\d+)/i);\n    if (rowMatch) {\n      const targetIdx = parseInt(rowMatch[1]) - 2;\n      const targetConfigRow = configRows[targetIdx];\n      if (targetConfigRow) {\n        const configEmail = (String(targetConfigRow[0] || '')).toLowerCase().trim();\n        if (configEmail === userEmail) {\n          return { allowed: true, reason: 'DSGVO-Selbstloeschung' };\n        }\n      }\n    }\n  }\n  return { allowed: false, reason: 'Config_Users: nur DSGVO-Selbstloeschung erlaubt' };\n};\n\n// ──────────── SPEAKER / BAND: own profile + einreichungen ────────────\nif (hasRole('SPEAKER', 'BAND')) {\n  if (range.includes('sprecher') || range.includes('speaker')) {\n    const r = checkSpeakerOwnership();\n    return [{ json: { ...routeData, rbacAllowed: r.allowed, rbacReason: r.reason } }];\n  }\n  if (range.includes('einreichung') || range.includes('master_einreichungen')) {\n    return [{ json: { ...routeData, rbacAllowed: true, rbacReason: 'Speaker Session-Einreichung' } }];\n  }\n  if (range.includes('config_users')) {\n    const r = checkGdprSelfDelete();\n    return [{ json: { ...routeData, rbacAllowed: r.allowed, rbacReason: r.reason } }];\n  }\n  return [{ json: { ...routeData, rbacAllowed: false,\n    rbacReason: 'Speaker: keine Schreibrechte fuer ' + routeData.range } }];\n}\n\n// ──────────── TEILNEHMENDE: einreichungen + own speaker profile ────────────\nif (hasRole('TEILNEHMENDE')) {\n  if (range.includes('einreichung') || range.includes('master_einreichungen')) {\n    return [{ json: { ...routeData, rbacAllowed: true, rbacReason: 'Teilnehmende Session-Einreichung' } }];\n  }\n  // TEILNEHMENDE can register (append) AND edit own profile (update) in SprecherInnen\n  if (range.includes('sprecher') || range.includes('speaker')) {\n    const r = checkSpeakerOwnership();\n    return [{ json: { ...routeData, rbacAllowed: r.allowed, rbacReason: r.reason } }];\n  }\n  if (range.includes('config_users')) {\n    const r = checkGdprSelfDelete();\n    return [{ json: { ...routeData, rbacAllowed: r.allowed, rbacReason: r.reason } }];\n  }\n  return [{ json: { ...routeData, rbacAllowed: false,\n    rbacReason: 'Teilnehmende: keine Schreibrechte fuer ' + routeData.range } }];\n}\n\n// ──────────── ORGANISATION: own org + einreichungen ────────────\nif (hasRole('ORGANISATION')) {\n  if (range.includes('organisation') || range.includes('config_org')) {\n    return [{ json: { ...routeData, rbacAllowed: true, rbacReason: 'Organisation eigene Daten' } }];\n  }\n  if (range.includes('einreichung') || range.includes('master_einreichungen')) {\n    return [{ json: { ...routeData, rbacAllowed: true, rbacReason: 'Organisation Session-Einreichung' } }];\n  }\n  if (range.includes('config_users')) {\n    const r = checkGdprSelfDelete();\n    return [{ json: { ...routeData, rbacAllowed: r.allowed, rbacReason: r.reason } }];\n  }\n  return [{ json: { ...routeData, rbacAllowed: false,\n    rbacReason: 'Organisation: keine Schreibrechte fuer ' + routeData.range } }];\n}\n\n// ──────────── GUEST/UNKNOWN: no writes ────────────\nreturn [{ json: { ...routeData, rbacAllowed: false,\n  rbacReason: 'Keine Schreibrechte fuer Rolle: ' + userRoles.join(',') } }];\n"
      },
      "id": "rbac-gatekeeper-001",
      "name": "RBAC Gatekeeper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        2260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "rbac-check",
              "leftValue": "={{ $json.rbacAllowed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "if-rbac-allowed-001",
      "name": "IF RBAC Allowed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2340,
        2260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: 'Zugriff verweigert: ' + ($json.rbacReason || 'Keine Berechtigung') }) }}",
        "options": {
          "responseCode": 403,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-403-rbac",
      "name": "Respond 403 Forbidden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2580,
        2460
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: $json.values }) }}",
        "options": {}
      },
      "id": "update-sheet-001",
      "name": "Update Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        1184
      ],
      "credentials": {
        "googleApi": {
          "id": "LvHMiivmZXgTlEwU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "id": "if-append-001-2",
      "name": "If Append",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        672,
        1084
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-append",
              "leftValue": "={{ $json.action }}",
              "rightValue": "append",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "94efe294-0083-48d0-b562-dbecc7775ebc",
      "name": "Webhook (POST /api/notify-speaker-removed)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        1600
      ],
      "webhookId": "18fae1c0-5ece-4922-ad5e-72d06bb23c76",
      "parameters": {
        "httpMethod": "POST",
        "path": "api/notify-speaker-removed",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://tourmaline-taffy-61d3c1.netlify.app",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      }
    },
    {
      "id": "b23ea18d-2960-4f55-b511-3b9fb1ecd99c",
      "name": "Parse Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1600
      ],
      "parameters": {
        "jsCode": "const body = $('Webhook (POST /api/notify-speaker-removed)').first().json.body || {};\nconst speakerName = body.speakerName || 'Unbekannt';\nconst sessionTitle = body.sessionTitle || 'Unbekannt';\nconst submitterEmail = body.submitterEmail || '';\n\nif (!submitterEmail) {\n  return [{ json: { skip: true } }];\n}\n\nreturn [{ json: {\n  skip: false,\n  to: submitterEmail,\n  subject: `Kosmos 2026: SprecherIn \"${speakerName}\" hat abgesagt`,\n  body: `Hallo,\n\ndie SprecherIn \"${speakerName}\" hat ihre Teilnahme an deiner Session \"${sessionTitle}\" abgesagt und wurde automatisch entfernt.\n\nBitte überprüfe deine Session und füge ggf. eine neue SprecherIn hinzu.\n\nViele Grüße,\nKosmos 2026 Team`\n}}];\n"
      }
    },
    {
      "id": "3f82018b-52ff-444e-9f94-f490d141dd1b",
      "name": "If Should Send",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        1600
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "0a5218c8-9129-47f2-9a7e-0ec826d0bddf",
      "name": "Send Speaker Removed Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        800,
        1550
      ],
      "parameters": {
        "fromEmail": "kosmos@kuenstlerische-tatsachen.de",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.body }}",
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "J3SxBLRnt91epoZF",
          "name": "SMTP account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "46434c64-6515-495e-9c11-1263a228a880",
      "name": "Respond Notify OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        1600
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {}
      }
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "kt-automatisierung.cloud",
            "user-agent": "curl/8.7.1",
            "content-length": "36",
            "accept": "*/*",
            "content-type": "application/json",
            "via": "2.0 Caddy",
            "x-forwarded-for": "176.0.7.158",
            "x-forwarded-host": "kt-automatisierung.cloud",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "email": "enrique.torres@posteo.de"
          },
          "webhookUrl": "https://kt-automatisierung.cloud/webhook/auth/request-magic-link",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "kt-automatisierung.cloud",
            "user-agent": "Mozilla/5.0 (iPad; CPU OS 18_5_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/142.0.7444.148 Mobile/15E148 Safari/604.1",
            "content-length": "295",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "accept-language": "de-DE,de;q=0.9",
            "content-type": "application/json",
            "origin": "https://tourmaline-taffy-61d3c1.netlify.app",
            "referer": "https://tourmaline-taffy-61d3c1.netlify.app/",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "via": "2.0 Caddy",
            "x-forwarded-for": "176.0.7.158",
            "x-forwarded-host": "kt-automatisierung.cloud",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImVucmlxdWUudG9ycmVzQHBvc3Rlby5kZSIsInJvbGUiOiJURUlMTkVITUVOREUiLCJub25jZSI6IjE5YzkwMTk4M2IxNGI4Zjg4OWYyNGQwOGExNzVhNmE1YmI5OTk4MjdiMTc4NjU4NyIsImlhdCI6MTc3MTk0NDExNywiZXhwIjoxNzcyNTQ4OTE3fQ.QnQX4OMVHm-3K5Ptt4D2YeVpTzTJDeZDpUZvoRJx1c8"
          },
          "webhookUrl": "https://kt-automatisierung.cloud/webhook/auth/verify-magic",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "GET /speakers": {
      "main": [
        [
          {
            "node": "Read Speaker_DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Speaker_DB": {
      "main": [
        [
          {
            "node": "Filter by Role",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by Role": {
      "main": [
        [
          {
            "node": "Respond Speakers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /register": {
      "main": [
        [
          {
            "node": "Prepare Speaker Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Speaker Data": {
      "main": [
        [
          {
            "node": "Write to Speaker_DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Speaker_DB": {
      "main": [
        [
          {
            "node": "Respond Register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /submit": {
      "main": [
        [
          {
            "node": "Prepare Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Submission": {
      "main": [
        [
          {
            "node": "Write to Master_Einreichungen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Master_Einreichungen": {
      "main": [
        [
          {
            "node": "Respond Submit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (POST /api/data)": {
      "main": [
        [
          {
            "node": "Verify Google Token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google Sheets Data (Proxy)": {
      "main": [
        [
          {
            "node": "Sanitize Data by Role",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Google Token1": {
      "main": [
        [
          {
            "node": "Token Valid?1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verify Magic JWT (Data)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Valid?1": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (POST /auth/verify)": {
      "main": [
        [
          {
            "node": "Verify Google Token2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Google Token2": {
      "main": [
        [
          {
            "node": "Token Valid?2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verify Magic JWT (Auth)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Valid?2": {
      "main": [
        [
          {
            "node": "Get User Role1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 401 Unauthorized1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Role1": {
      "main": [
        [
          {
            "node": "Format Authorized Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (POST /api/rating)": {
      "main": [
        [
          {
            "node": "Verify Google Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Google Token": {
      "main": [
        [
          {
            "node": "Token Valid?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verify Magic JWT (Rating)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Valid?": {
      "main": [
        [
          {
            "node": "Prepare Rating Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Rating Data": {
      "main": [
        [
          {
            "node": "Append to Master_Ratings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Master_Ratings": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (POST /api/register-speaker)": {
      "main": [
        [
          {
            "node": "Generate Speaker ID & Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Speaker ID & Status": {
      "main": [
        [
          {
            "node": "Append to SprecherInnen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to SprecherInnen": {
      "main": [
        [
          {
            "node": "Respond with Speaker ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (POST /api/save)": {
      "main": [
        [
          {
            "node": "Verify Google Token3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Google Sheets (Proxy)": {
      "main": [
        [
          {
            "node": "Respond with Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Google Token3": {
      "main": [
        [
          {
            "node": "Token Valid?3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verify Magic JWT (Save)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Valid?3": {
      "main": [
        [
          {
            "node": "Write to Google Sheets (Proxy)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 401 Unauthorized2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify JWT": {
      "main": [
        [
          {
            "node": "If Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Valid": {
      "main": [
        [
          {
            "node": "Read Magic_Link_Tokens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Magic_Link_Tokens": {
      "main": [
        [
          {
            "node": "Check Nonce (One-Time)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Nonce (One-Time)": {
      "main": [
        [
          {
            "node": "If Nonce Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Nonce Valid": {
      "main": [
        [
          {
            "node": "Mark Token USED",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Nonce Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config_Users": {
      "main": [
        [
          {
            "node": "Check User Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User Exists": {
      "main": [
        [
          {
            "node": "If New User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If New User": {
      "main": [
        [
          {
            "node": "Create User in Config_Users",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Verified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create User in Config_Users": {
      "main": [
        [
          {
            "node": "Write Config_Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Read Config_Users1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Eligibility": {
      "main": [
        [
          {
            "node": "If Allowed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Allowed": {
      "main": [
        [
          {
            "node": "Generate JWT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JWT": {
      "main": [
        [
          {
            "node": "Store Nonce in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Nonce in Sheet": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config_Users1": {
      "main": [
        [
          {
            "node": "Check Eligibility",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Token USED": {
      "main": [
        [
          {
            "node": "Read Config_Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Magic JWT (Data)": {
      "main": [
        [
          {
            "node": "Token Valid?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Magic JWT (Auth)": {
      "main": [
        [
          {
            "node": "Token Valid?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Magic JWT (Rating)": {
      "main": [
        [
          {
            "node": "Token Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Magic JWT (Save)": {
      "main": [
        [
          {
            "node": "Token Valid?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Authorized Response": {
      "main": [
        [
          {
            "node": "Respond Auth Verified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Fetch RBAC Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RBAC Data": {
      "main": [
        [
          {
            "node": "RBAC Gatekeeper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RBAC Gatekeeper": {
      "main": [
        [
          {
            "node": "IF RBAC Allowed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF RBAC Allowed": {
      "main": [
        [
          {
            "node": "If Write",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 403 Forbidden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Write": {
      "main": [
        [
          {
            "node": "If Append",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Google Sheets Data (Proxy)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Config_Users": {
      "main": [
        [
          {
            "node": "Respond Verified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Data by Role": {
      "main": [
        [
          {
            "node": "Respond with Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Append": {
      "main": [
        [
          {
            "node": "Append to Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Sheet": {
      "main": [
        [
          {
            "node": "Respond Write OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet": {
      "main": [
        [
          {
            "node": "Respond Write OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (POST /api/notify-speaker-removed)": {
      "main": [
        [
          {
            "node": "Parse Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Notification": {
      "main": [
        [
          {
            "node": "If Should Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Should Send": {
      "main": [
        [
          {
            "node": "Send Speaker Removed Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Notify OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Speaker Removed Email": {
      "main": [
        [
          {
            "node": "Respond Notify OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "35253be6-eb79-48a9-986e-8562fa204cf8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cbf370a8b484e87fd7cfc184d64a975a112b7baa644b6f38c460c5027c0a26f6"
  },
  "id": "Az5vqvAo4W52WhGi",
  "tags": []
}