backend/n8n_magic_link_verify.json
{
    "name": "Kosmos - Magic Link Verify",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "auth/verify-magic",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Authorization"
                            }
                        ]
                    }
                }
            },
            "id": "webhook-verify-magic",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Verify JWT and extract nonce\nconst jwt = require('jsonwebtoken');\n\nconst SECRET = $env.MAGIC_LINK_SECRET;\nif (!SECRET) {\n  return [{ json: { ok: false, error: 'Server-Konfigurationsfehler (MAGIC_LINK_SECRET fehlt).' } }];\n}\n\nconst token = $input.first().json.body?.token || '';\n\nif (!token) {\n  return [{ json: { ok: false, error: 'Kein Token angegeben.' } }];\n}\n\ntry {\n  const decoded = jwt.verify(token, SECRET);\n  // decoded: { email, role, nonce, iat, exp }\n  if (!decoded.nonce) {\n    return [{ json: { ok: false, error: 'Ung端ltiges Token-Format (kein Fingerprint).' } }];\n  }\n  return [{ json: {\n    valid: true,\n    email: decoded.email,\n    role: decoded.role || 'TEILNEHMENDE',\n    nonce: decoded.nonce\n  }}];\n} catch (err) {\n  if (err.name === 'TokenExpiredError') {\n    return [{ json: { ok: false, error: 'Der Magic Link ist abgelaufen. Bitte fordere einen neuen an.' } }];\n  }\n  return [{ json: { ok: false, error: 'Der Magic Link ist ung端ltig. Bitte fordere einen neuen an.' } }];\n}"
            },
            "id": "verify-jwt",
            "name": "Verify JWT",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.valid }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "if-valid",
            "name": "If Valid",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                690,
                300
            ]
        },
        {
            "parameters": {
                "operation": "read",
                "documentId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "1u12ILaBSj5B3Iy3yh6DYyanSIp7UQjimOBw61yYVmME"
                },
                "sheetName": {
                    "__rl": true,
                    "mode": "name",
                    "value": "Magic_Link_Tokens"
                },
                "options": {
                    "range": "A:E"
                }
            },
            "id": "read-tokens",
            "name": "Read Magic_Link_Tokens",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                910,
                200
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "REPLACE_WITH_YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
                    "name": "Google Sheets Account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Check if nonce exists and is unused (one-time fingerprint check)\nconst verifyData = $('Verify JWT').first().json;\nconst nonce = verifyData.nonce;\nconst email = verifyData.email;\n\nconst rows = $input.all().map(item => item.json);\n\n// Find the token row by nonce (column A)\nlet tokenRow = null;\nlet tokenRowIndex = -1;\nfor (let i = 0; i < rows.length; i++) {\n  const rowNonce = rows[i]['A'] || rows[i]['Nonce'] || rows[i]['nonce'] || '';\n  if (rowNonce === nonce) {\n    tokenRow = rows[i];\n    tokenRowIndex = i + 2; // +2 because: +1 for header, +1 for 1-indexed\n    break;\n  }\n}\n\nif (!tokenRow) {\n  return [{ json: {\n    ok: false,\n    error: 'Dieser Magic Link ist ung端ltig. Bitte fordere einen neuen an.'\n  }}];\n}\n\n// Check if already used\nconst status = tokenRow['E'] || tokenRow['Status'] || tokenRow['status'] || '';\nif (status === 'USED') {\n  return [{ json: {\n    ok: false,\n    error: 'Dieser Magic Link wurde bereits verwendet. Bitte fordere einen neuen an.'\n  }}];\n}\n\n// Check email matches\nconst tokenEmail = (tokenRow['B'] || tokenRow['Email'] || tokenRow['email'] || '').toLowerCase().trim();\nif (tokenEmail !== email.toLowerCase().trim()) {\n  return [{ json: {\n    ok: false,\n    error: 'Token-Email stimmt nicht 端berein.'\n  }}];\n}\n\nreturn [{ json: {\n  nonceValid: true,\n  email: email,\n  role: verifyData.role,\n  tokenRowIndex: tokenRowIndex\n}}];"
            },
            "id": "check-nonce",
            "name": "Check Nonce (One-Time)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1130,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.nonceValid }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "if-nonce-valid",
            "name": "If Nonce Valid",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1350,
                200
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "1u12ILaBSj5B3Iy3yh6DYyanSIp7UQjimOBw61yYVmME"
                },
                "sheetName": {
                    "__rl": true,
                    "mode": "name",
                    "value": "Magic_Link_Tokens"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "E": "USED"
                    }
                },
                "options": {
                    "range": "=E{{ $json.tokenRowIndex }}"
                }
            },
            "id": "mark-token-used",
            "name": "Mark Token USED",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                1570,
                100
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "REPLACE_WITH_YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
                    "name": "Google Sheets Account"
                }
            }
        },
        {
            "parameters": {
                "operation": "read",
                "documentId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "1u12ILaBSj5B3Iy3yh6DYyanSIp7UQjimOBw61yYVmME"
                },
                "sheetName": {
                    "__rl": true,
                    "mode": "name",
                    "value": "Config_Users"
                },
                "options": {
                    "range": "A:D"
                }
            },
            "id": "read-config-users-verify",
            "name": "Read Config_Users",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                1790,
                100
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "REPLACE_WITH_YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
                    "name": "Google Sheets Account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Check if user exists in Config_Users, create if new\nconst nonceData = $('Check Nonce (One-Time)').first().json;\nconst email = nonceData.email;\nconst tokenRole = nonceData.role;\n\nconst rows = $input.all().map(item => item.json);\n\nconst existingUser = rows.find(r => {\n  const rowEmail = (r['A'] || r['Email'] || r['email'] || '').toLowerCase().trim();\n  return rowEmail === email;\n});\n\nif (existingUser) {\n  const currentRole = existingUser['B'] || existingUser['Role'] || existingUser['role'] || tokenRole;\n  return [{ json: {\n    email,\n    role: currentRole,\n    isNewUser: false,\n    needsCreation: false\n  }}];\n} else {\n  return [{ json: {\n    email,\n    role: 'TEILNEHMENDE',\n    isNewUser: true,\n    needsCreation: true\n  }}];\n}"
            },
            "id": "check-user-exists",
            "name": "Check User Exists",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2010,
                100
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.needsCreation }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "if-needs-creation",
            "name": "If New User",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                2230,
                100
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "1u12ILaBSj5B3Iy3yh6DYyanSIp7UQjimOBw61yYVmME"
                },
                "sheetName": {
                    "__rl": true,
                    "mode": "name",
                    "value": "Config_Users"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "A": "={{ $json.email }}",
                        "B": "=TEILNEHMENDE",
                        "C": "",
                        "D": "={{ new Date().toISOString() }}"
                    }
                },
                "options": {}
            },
            "id": "create-user-row",
            "name": "Create User in Config_Users",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                2450,
                0
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "REPLACE_WITH_YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
                    "name": "Google Sheets Account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"ok\": true, \"email\": \"{{ $('Check User Exists').first().json.email }}\", \"role\": \"{{ $('Check User Exists').first().json.role }}\", \"name\": \"\", \"isNewUser\": {{ $('Check User Exists').first().json.isNewUser }} }"
            },
            "id": "respond-verified",
            "name": "Respond Verified",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                2670,
                100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($('Verify JWT').first().json) }}"
            },
            "id": "respond-invalid-jwt",
            "name": "Respond Invalid JWT",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                910,
                450
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($('Check Nonce (One-Time)').first().json) }}"
            },
            "id": "respond-nonce-invalid",
            "name": "Respond Nonce Invalid",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1570,
                350
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Verify JWT",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Verify JWT": {
            "main": [
                [
                    {
                        "node": "If Valid",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Valid": {
            "main": [
                [
                    {
                        "node": "Read Magic_Link_Tokens",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Invalid JWT",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Magic_Link_Tokens": {
            "main": [
                [
                    {
                        "node": "Check Nonce (One-Time)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Nonce (One-Time)": {
            "main": [
                [
                    {
                        "node": "If Nonce Valid",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Nonce Valid": {
            "main": [
                [
                    {
                        "node": "Mark Token USED",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Nonce Invalid",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mark Token USED": {
            "main": [
                [
                    {
                        "node": "Read Config_Users",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Config_Users": {
            "main": [
                [
                    {
                        "node": "Check User Exists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check User Exists": {
            "main": [
                [
                    {
                        "node": "If New User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If New User": {
            "main": [
                [
                    {
                        "node": "Create User in Config_Users",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Verified",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create User in Config_Users": {
            "main": [
                [
                    {
                        "node": "Respond Verified",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "Kosmos",
            "id": "kosmos-tag"
        }
    ]
}